.search {
  overflow: hidden;
  text-align: center;
}

.search input {
  display: inline-flex;
  padding: 6px;
  border-color: #ccc;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 16px;
  font-size: 17px;
}

.search button {
  width: 8rem;
  padding: 10px;
  background: navy;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.search button:hover {
  background: #0b7dda;
}

.priceFilter {
  width: 20rem;
  display: inline-flex;
}